/*<div class="card-wrapper">
              <div class="card-back">
                <div class="card-back-line"></div>
                <input type="text" id="cvv">
              </div>
              <div class="card-front">
                <img src="" alt="" class="card-image">
                <img src="" alt="" class="card-logo">
                <input type="text" id="card-number">
                <input type="text" id="card-to-month">
                <input type="text" id="card-to-year">
              </div>
            </div> */

.card-wrapper {
  width: 751px;
  height: 381px;
  border: 1pх solid grey;
  position: relative;
}

.card-back,
.card-front {
  width: 535px;
  height: 343px;
  border: 1pх solid grey;
  border-radius: 15px;
}
