.card-wrapper {
  width: 751px;
  height: 381px;
  border: 1pх solid grey;
  position: relative;
}

.card-back,
.card-front {
  width: 535px;
  height: 343px;
  border: 1pх solid grey;
  border-radius: 15px;
}

.pressed-button {
  text-decoration: none;
  display: inline-block;
  padding: 12px 40px;
  margin: 10px 20px;
  border-radius: 30px;
  background-image: linear-gradient(
    45deg,
    #6ab1d7 0%,
    #33d9de 50%,
    #002878 100%
  );
  background-position: 100% 0;
  background-size: 200% 200%;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: white;
  box-shadow: 0 16px 32px 0 rgba(0, 40, 120, 0.35);
  transition: 0.5s;
}
.pressed-button:hover {
  box-shadow: 0 0 0 0 rgba(0, 40, 120, 0);
  background-position: 0 0;
}

/* блок соц сетей */

.social {
  display: inline-block;
}
.social a {
  display: block;
  width: 48px;
  height: 48px;
  margin: 0 10px 10px 0;
  text-align: center;
  color: #000;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 24px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15), inset 0 0 50px rgba(0, 0, 0, 0.1);
}
.social a:hover {
  color: #fff;
}
.social svg {
  margin-top: 7px;
  width: 32px;
  height: 32px;
}
.email a:hover {
  background: #fdf503;
}
.instagram a:hover {
  background: #e74d10;
}
.telegram a:hover {
  background: #2170d2;
}
.viber a:hover {
  background: #7b519d;
}
